# Aula 18

# Sets:
- Sets parecem bastante com listas, mas possuem algumas particularidades:
1. Não possuem uma ordem específica;
2. Não aceitam valores repetidos;
3. É imutável, visto que não possui uma ordem específica;
4. Usam {} como formato, mas não possuem CHAVE como os dicionários.

## 1) Básico sobre Sets:

In [11]:
# EXEMPLO 1

set_produtos = {'arroz', 'feijao', 'macarrao', 'atum', 'azeite'}
print(set_produtos)

{'atum', 'macarrao', 'feijao', 'arroz', 'azeite'}

In [9]:
# EXEMPLO 2

set_produtos = {'arroz', 'feijao', 'macarrao', 'arroz', 'atum', 'azeite'}
print(set_produtos)

{'atum', 'macarrao', 'feijao', 'arroz', 'azeite'}

In [20]:
# EXEMPLO 3

cpf_clientes = ['662.523.760-43', '662.523.760-43', 
                '429.509.140-55', '429.509.140-55', 
                '670.240.390-94', '964.940.610-79', 
                '034.681.420-05']

print(f"São {len(cpf_clientes)} CPFs na lista.\n")
set_cpf_clientes = set(cpf_clientes)
cpf_clientes_unicos = list(set_cpf_clientes)

print(f"CPFs: {cpf_clientes_unicos}")
print(f"\nNo entanto, temos apenas {len(set_cpf_clientes)} clientes diferentes na loja.")

São 7 CPFs na lista.

CPFs: ['429.509.140-55', '662.523.760-43', '964.940.610-79', '034.681.420-05', '670.240.390-94']

No entanto, temos apenas 5 clientes diferentes na loja.

## 2) Imprimindo os valores do set:

In [28]:
# EXEMPLO 4

conjunto = {2, 1, 4, 3, 5, 18, 42, 23}

for elemento in conjunto:
    print(elemento, end=' ')

1 2 3 4 5 42 18 23

In [29]:
# EXEMPLO 5

conjunto = {2, 4, 6, 7, 9, 11}
print(7 in conjunto)
print(1 in conjunto)

True
False

## 3) Adicionando valores:

In [35]:
# EXEMPLO 6

conjunto = {1, 2, 3}
print(conjunto)

conjunto.add(4)
print(conjunto)

conjunto.add('Podemos add strings também.')
print(conjunto)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 'Podemos add strings também.'}

In [39]:
# EXEMPLO 7

set_1 = {1, 2, 3}
set_2 = {'Item 1', 'Item 2', 'Item 3'}
print("Antes do update:")
print(set_1)
print(set_2)

print("\nDepois do update:")
set_1.update(set_2)
print(set_1)
print(set_2)

Antes do update:
{1, 2, 3}
{'Item 1', 'Item 3', 'Item 2'}

Depois do update:
{1, 2, 3, 'Item 1', 'Item 3', 'Item 2'}
{'Item 1', 'Item 3', 'Item 2'}

In [44]:
# EXEMPLO 8

set_1 = {1, 2, 3}
lista_1 = [4, 5, 6]
print("Antes do update:")
print(set_1)
print(lista_1)

print("\nDepois do update:")
set_1.update(lista_1)
print(set_1)
print(lista_1)

Antes do update:
{1, 2, 3}
[4, 5, 6]

Depois do update:
{1, 2, 3, 4, 5, 6}
[4, 5, 6]

In [43]:
# EXEMPLO 9

set_1 = {1, 2, 3}
lista_1 = [2, 3, 4]
print("Antes do update:")
print(set_1)
print(lista_1)

print("\nDepois do update:")
set_1.update(lista_1)
print(set_1)
print(lista_1)

Antes do update:
{1, 2, 3}
[2, 3, 4]

Depois do update:
{1, 2, 3, 4}
[2, 3, 4]

## 4) Removendo valores:

In [46]:
# EXEMPLO 10

set_1 = {1, 2, 3, 'Item 1', 'Item 2', 'Item 3'}
print(set_1)
set_1.pop()
print(set_1)

{1, 2, 3, 'Item 1', 'Item 3', 'Item 2'}
{2, 3, 'Item 1', 'Item 3', 'Item 2'}

In [49]:
# EXEMPLO 11

set_1 = {1, 2, 3, 'Item 1', 'Item 2', 'Item 3'}
print(set_1)

set_1.remove(2)
print(set_1)

set_1.remove('Item 1')
print(set_1)

set_1.discard('Item 2')
print(set_1)

{1, 2, 3, 'Item 1', 'Item 3', 'Item 2'}
{1, 3, 'Item 1', 'Item 3', 'Item 2'}
{1, 3, 'Item 3', 'Item 2'}
{1, 3, 'Item 3'}

1. A diferença enter usar o **.remove()** e **.discard()** é que se tentarmos remover algo que não existe com o **.remove()**, nós vamos obter um erro; 
2. Porém, com o **.discard()** nada acontece;
3. As funções **.clear()** e **del** funcionam aqui exatamente como em todas as outras estruturas.

## 5) Operadores matemáticos para Sets (conjuntos):

In [50]:
# EXEMPLO 12

conjunto_1 = {1, 2, 3, 4}
conjunto_2 = {4, 5, 6, 7}

conjunto_3 = conjunto_1.union(conjunto_2)
print(conjunto_3)

{1, 2, 3, 4, 5, 6, 7}

In [51]:
# EXEMPLO 13

conjunto_1 = {1, 2, 3, 4}
conjunto_2 = {4, 5, 6, 7}

conjunto_3 = conjunto_1.intersection(conjunto_2)
print(conjunto_3)

{4}

In [52]:
# EXEMPLO 14

conjunto_1 = {1, 2, 3, 4}
conjunto_2 = {4, 5, 6, 7}

conjunto_1.intersection_update(conjunto_2)
print(conjunto_1)

{4}

In [54]:
# EXEMPLO 15

conjunto_1 = {1, 2, 3, 4}
conjunto_2 = {3, 4, 5, 6}

conjunto_3 = conjunto_1.symmetric_difference(conjunto_2)
print(conjunto_3)

{1, 2, 5, 6}

In [55]:
# EXEMPLO 16

conjunto_1 = {1, 2, 3, 4}
conjunto_2 = {3, 4, 5, 6}

conjunto_1.symmetric_difference_update(conjunto_2)
print(conjunto_1)

{1, 2, 5, 6}

# Prática:
Segue uma lista de exercício para vocês fazerem:
1. https://www.w3resource.com/python-exercises/sets/

Materias extras para um leitura amiga:
1. https://www.w3schools.com/python/python_sets.asp